<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center mt-5">
        <div class="portfolio-pic"></div>
        <div class="horizontal-bar"></div>
        <div class="logo-pic"></div>
    </div>
</header>