<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-4 mb-5">
                    <img class="img-fluid-about" src="assets/img/thayna.png" alt="..." />
                </div>
                <div class="col-lg-6">
                    <p class="text-black mb-4 text-uppercase fs-5 text-start">Sobre mim</p>
                    <p class="text-black" style="text-align: justify;">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                    <p class="text-black mb-4 text-uppercase fs-5 text-start">Habilidades</p>
                    <p class="text-black" style="text-align: justify;">
                        - Adobe Photoshop<br>
                        - Adobe Photoshop<br>
                        - Adobe Photoshop<br>
                        - Adobe Photoshop<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>