<section class="contact-section bg-black" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="social d-flex justify-content-center">
            <a class="mx-2" href="https://api.whatsapp.com/send?phone=556198842262" target="_blank">
                <i class="fab fa-whatsapp fa-2xl"></i>
            </a>
            <a class="mx-2" href="https://linkedin.com/in/thayna-santos97/" target="_blank">
                <i class="fab fa-linkedin fa-2xl"></i>
            </a>
            <a class="mx-2" href="mailto:thaynadssantos@gmail.com" target="_blank">
                <i class="fa-solid fa-envelope fa-2xl"></i>
            </a>
        </div>
        <div class="text-center mt-4">
            <a class="btn btn-primary mt-2 mb-1 text-center" href="https://drive.google.com/file/d/1-2MI9z53yrdqDxS_3XfdhgzvhWUSzv6G/view" target="_blank">Portfólio completo</a>
        </div>
    </div>
    <footer class="footer bg-black small text-center text-white-50">
        <div class="container px-4 px-lg-5">
            Copyright &copy; Thayná Santos - 2022
            <br>
            Todos os direitos reservados
        </div>
    </footer>
</section>